*{
    margin: 0;
    padding: 0;
    font-family: SVN-Gotham ,Arial,Helvetica,sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: SVN-Gotham;
    src: url(./font/SVN-Gotham\ Book.otf);
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
/* header */
/* header top */
.header-top{
    height: 52px;
    background-color: #000;
}
.header-top-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 160rem;
}
.menu-header-logo {
    display: inline-block;
    line-height: 30px;
    margin-top: 10px;
}
.list-logo-header {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 30px;
    
}.list-logo-header span{
    opacity: 0.6 ;
}
.list-logo-header a{
    padding: 0 18px 0;
    height: 28px;
}
.menu-header-logo span.logo-1{
    background-image: url(./img/original-logo-tab-1.png);
    display: block;
    background-size: 100px;
    height: 28px;
    width: 100px;
    background-repeat: no-repeat;
    margin-top: 4px;
}
.menu-header-logo span.logo-2{
    background-image: url(./img/custom-logo-tab-2.png);
    display: block;
    background-size: 120px;
    background-repeat: no-repeat;
    height: 28px;
    width: 120px;
    margin-left: 10px;
    margin-top: 7px;
}
.menu-header-logo span.logo-3{
    background-image: url(./img/neo-logo-tab-3.png);
    display: block;
    background-size:100px;
    background-repeat: no-repeat;
    height: 28px;
    width: 100px;
    margin-top: 4px;
}
.list-logo-header span.logo-1{
    opacity: 1;
}
.list-logo-header:hover span {
    opacity: 1 ;
    
}
.list-logo-header a{
    color: #fff;
    font-size: 11px;
}
.list-logo-header a.number-phone{
    opacity: 0.6;
}
.img-logo-header{
    display: block;
    
    width: 100%;
}
.list-logo-header::before{
    content: "";
    position: absolute;
    background-color: #fff ;
    width: 1.2px;
    height: 80%;
    opacity: 0.6 !important;
    margin-top: 3px;
    
}
.clear-border::before{
    display: none;
}
.clear-border::after{
    display: none;
}
.list-logo-header a{
    display: block;
}
.list-logo-header img{
    width: 120px;
    height: 100%;
}
.menu-header-contact{
    display: inline-block;
    margin-top: 10px;
}
.list-contact-header{
    display: inline-block;
    padding-left: 20px;
    line-height: 10px;
    position: relative;
    
}
.list-contact-header a{
    color: #fff;
    font-size: 13px;
}
.list-contact-header::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 1.5px;
    background-color: #fff;
    margin-left: 10px;
}

/* end header top */
/* header-middle */
.header-middle-container{

    margin-left: auto;
    height: 100%;
    margin-right: auto;
    width: 1000px;
}
.header-middle-top ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-top: 20px;
}
.header-middle-bottom{
    width: 100%;
    padding: 0px 100px;
    height: 60px;
    margin-top: 25px;
    border-top: 1px solid #e6e8ea;
    border-bottom  : 1px solid #e6e8ea;

}
.header-middle-bottom ul {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-left: 116px;
    padding-left: 100px;
} 

.header-middle-bottom a {
    color: #000;
    text-decoration: none;
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 86px;
    
}
.header-middle-bottom a::after{
    content: "";
    background-color: #000;
    height: 1px;
    width: 0px;
    bottom: 0px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;

}
.header-middle-bottom a:hover::after{
    width: 100%;
}
.header-middle-bottom li:nth-child(3) a::after{
    width: 100%;
}
.list-logo img{
    width: 180px;
    height: 41px;
}
.list-search img,.list-bag img{
    width: 45px;
    height: 45px;
}
/* main */
.main .container-1{
    padding: 0 290px;
}
.slide{
    display: flex;
    height: 117px;
}
.slide a{
    text-decoration: none;
    color: #000;
}
.slide a.slide-left{
    background-image: url(../img/nam-slide.jpg);
    background-size: cover;
    width: 50%;
    text-align: right;
    padding: 35px 40px;
    opacity: 0.3;

}
.slide a.slide-right{
    background-image: url(../img/nu-slide.jpg);
    background-size: cover;
    width: 50%;
    text-align: left;
    padding: 35px 40px;
    transition: all 0.3s;
}
.slide a.slide-right:hover{
    opacity: 1;
}
.slide p{
    font-size: 16px;
}
.slide strong{
    display: block;
    font-size: 24px;
    font-weight: 100;
}
.main .container-1{
    padding: 0 290px;
}
.breadcrumbs{
    height: 60px;
    border-bottom: 1px solid #ccc;
    line-height: 60px;
}
.breadcrumbs ul{
    list-style: none;
}
.breadcrumbs li{
    display: inline-block;
    font-size: 12px;
}
.breadcrumbs a{
    color: #000;
    
}
.breadcrumbs li::after
 {
    content: "/";
    margin: 0 0.825rem;
    font-size: 14px;
}
.breadcrumbs li:last-child::after
 {
    display: none;
}
.product{
    padding-top: 70px 
}
.product .title{
    text-align: center;
    padding: 15px 0;
}
.product .title h1{
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 30px;
}
.product .text-description{
    padding: 0 100px;
    text-align: center;
}
.product-list{
    padding: 50px 0;
}
.product-text,.product-price{
    text-align: center;
}
/*  */
.product-list span.item-1{
    background-image: url(../img/v3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-1:hover{
    background-image: url(../img/v3.jpg);
}
.product-list span.item-2{
    background-image: url(../img/v5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-2:hover{
    background-image: url(../img/v6.jpg);
}
.product-list span.item-3{
    background-image: url(../img/product-nam-9.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-3:hover{
    background-image: url(../img/pro);
}
.product-list span.item-4{
    background-image: url(../img/v1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-4:hover{
    background-image: url(../img/v2.jpg);
}
.product-list span.item-5{
    background-image: url(../img/nu-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-5:hover{
    background-image: url(../img/nu-2.jpg);
}
.product-list span.item-6{
    background-image: url(../img/nu-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-6:hover{
    background-image: url(../img/nu-4.jpg);
}
.product-list span.item-7{
    background-image: url(../img/nu-5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-7:hover{
    background-image: url(../img/nu-6.jpg);
}
.product-list span.item-8{
    background-image: url(../img/nu-7.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-8:hover{
    background-image: url(../img/nu-8.jpg);
}
.product-list span.item-9{
    background-image: url(../img/nu-9.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-9:hover{
    background-image: url(../img/nu-10.jpg);
}
.product-list span.item-10{
    background-image: url(../img/nu-11.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-10:hover{
    background-image: url(../img/nu-12.jpg);
}
.product-list span.item-11{
    background-image: url(../img/nu-13.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-11:hover{
    background-image: url(../img/nu-14.jpg);
}
.product-list span.item-12{
    background-image: url(../img/nu-15.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-12:hover{
    background-image: url(../img/nu-16.jpg);
}
.product-list span.item-13{
    background-image: url(../img/nu-17.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-13:hover{
    background-image: url(../img/nu-17.jpg);
}
/* 
///////////////////////////////////////////////////
*/
.product-list span.item-14{
    background-image: url(../img/nu2-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-14:hover{
    background-image: url(../img/nu2-2.jpg);
}
.product-list span.item-15{
    background-image: url(../img/nu2-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-15:hover{
    background-image: url(../img/nu2-4.jpg);
}
.product-list span.item-16{
    background-image: url(../img/nu2-5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-16:hover{
    background-image: url(../img/nu2-6.jpg);
}
.product-list span.item-17{
    background-image: url(../img/nu2-7.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-17:hover{
    background-image: url(../img/nu2-8.jpg);
}
.product-list span.item-18{
    background-image: url(../img/nu2-9.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-18:hover{
    background-image: url(../img/nu2-10.jpg);
}
.product-list span.item-19{
    background-image: url(../img/nu2-11.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-19:hover{
    background-image: url(../img/nu2-12.jpg);
}
.product-list span.item-20{
    background-image: url(../img/nu2-13.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-20:hover{
    background-image: url(../img/nu2-14.jpg);
}
.product-list span.item-21{
    background-image: url(../img/nu2-15.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-21:hover{
    background-image: url(../img/nu2-16.jpg);
}
.product-list span.item-22{
    background-image: url(../img/nu2-17.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-22:hover{
    background-image: url(../img/nu2-18.jpg);
}
.product-list span.item-23{
    background-image: url(../img/nu2-19.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-23:hover{
    background-image: url(../img/nu2-20.jpg);
}
.product-list span.item-24{
    background-image: url(../img/nu2-21.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-24:hover{
    background-image: url(../img/nu2-22.jpg);
}
/* /////////// */
.product-list span.item-25{
    background-image: url(../img/iconic-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-25:hover{
    background-image: url(../img/iconic-2.jpg);
}
.product-list span.item-26{
    background-image: url(../img/iconic-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-26:hover{
    background-image: url(../img/iconic-4.jpg);
}
.product-list span.item-27{
    background-image: url(../img/iconic-5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-27:hover{
    background-image: url(../img/iconic-6.jpg);
}
.product-list span.item-28{
    background-image: url(../img/nu3-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-28:hover{
    background-image: url(../img/nu3-2.jpg);
}
.product-list span.item-29{
    background-image: url(../img/nu3-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-29:hover{
    background-image: url(../img/nu3-4.png);
}
.product-list span.item-30{
    background-image: url(../img/nu3-5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-30:hover{
    background-image: url(../img/nu3-6.jpg);
}
.product-list span.item-31{
    background-image: url(../img/nu3-7.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-31:hover{
    background-image: url(../img/nu3-8.jpg);
}
.product-list span.item-32{
    background-image: url(../img/nu3-9.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-32:hover{
    background-image: url(../img/nu3-10.jpg);
}
.product-list span.item-33{
    background-image: url(../img/nu3-11.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-33:hover{
    background-image: url(../img/nu3-12.jpg);
}
.product-list span.item-34{
    background-image: url(../img/nu3-13.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-34:hover{
    background-image: url(../img/nu3-14.jpg);
}
/* //// */
.product-list span.item-35{
    background-image: url(../img/gatsby-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-35:hover{
    background-image: url(../img/gatsby-2.jpg);
}
.product-list span.item-36{
    background-image: url(../img/gatsby-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-36:hover{
    background-image: url(../img/gatsby-4.jpg);
}
.product-list span.item-37{
    background-image: url(../img/gatsby-5.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-37:hover{
    background-image: url(../img/gatsby-6.jpg);
}
/* /// */
.product-list span.item-38{
    background-image: url(../img/thebox-2.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-38:hover{
    background-image: url(../img/thebox-pink.jpg);
}
.product-list span.item-39{
    background-image: url(../img/thebox-3.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-39:hover{
    background-image: url(../img/thebox-pink.jpg);
}
.product-list span.item-40{
    background-image: url(../img/thebox-1.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-40:hover{
    background-image: url(../img/thebox.jpg);
}
.product-list span.item-41{
    background-image: url(../img/thebox-4.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-41:hover{
    background-image: url(../img/thebox-8.jpg);
}
.product-list span.item-42{
    background-image: url(../img/thebox-7.jpg);
    display: block;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.product-list span.item-42:hover{
    background-image: url(../img/hot-box-2.jpg);
}
/* 
 */
/* end */
/* footer */
.footer{
    text-align: center;
    padding-top:60px ;
}
.text-title{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}
.footer-title input{
    width: 320px;
    height: 56px;
    padding: 10px 15px;
    background-color: #e5e5e5;
    
    outline: none;
    border: none;
}
.footer-title input::placeholder{
    color: #000;
}
a.btn-submit {
    padding: 19px 51px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-left: -5px;
    text-transform: uppercase;
}
.footer-menu{
    margin: 60px auto;
    width: 676px;
}
.footer-menu span {
    margin-bottom: 20px;
    display: block;
    font-size: 13px;
}
.footer-menu a{
    color: #000;
    font-size: 13px;
}
.footer-menu li{
    padding: 5px 0px;
}
.footer-bottom p{
    line-height: 1.6;
}
.footer-bottom img{
    width: 150px;
    height: 57px;
}
.footer-bottom-last{
    padding: 65px 0px;
}
.footer-bottom-last a{
    color: #000;
    margin: 10px 10px;
}
.footer-bottom-last a:last-child{
    position: relative;
}
.footer-bottom-last a:last-child::before {
    content: "";
    position: absolute;
    background-color: #000;
    height: 13px;
    width: 0.5px;
    top: 2px;
    left: -10px;
}
/* end */
